<%- include ./partials/header %>
<section class="main pt-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="md8 sm9 xs12">
        <p class="penulis jangka mb-3"><span>Produk terbaru</span></p>
        <div class="row">
          <% product.forEach(row => { %>
          <div class="md4 sm6 xs6">
            <div class="card">
              <figure class="img-wrapper content">
                <img
                  class="img-content"
                  src="<%= row['photoUrl'] %>"
                  alt="<%= row['nama'] %>"
                />
              </figure>
              <p class="title text-capitalized"><%= row['nama'] %></p>
              <small class="date"> <%= row.seller.nama %> </small>
              <div class="flex-wrap align-center action-buyer">
                <p class="penulis text-danger harga">Rp<%= row.harga %></p>
                <div class="spacer"></div>
                <% if(userId !== row.userId){ %>
                <form action="/transaction/create" method="POST" class="buy-wrapper flex-wrap">
                  <input type="hidden" value="<%= row['id'] %>" name="id">
                  <input type="hidden" value="<%= row.harga %>" name="total">
                  <input type="number" min="1" max="<%= row['stock'] %>" value="1" name="item" class="inputItem">
                  <button class="btnBuy">Beli</button>
                </form>
                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="text-center mt-5"><%- include ./partials/pagination %></div>
      </div>
      <div class="md4 sm3 xs12"><%- include ./partials/sidenav %></div>
    </div>
  </div>
</section>
<script>
  $('.input-item').change(function(){
    var item = Number($(this).val());
    var harga = $(this).closest('.action-buyer').find('.harga').text().trim().replace(/\D/g, '');
    console.log(item, harga);
    $(this).siblings('input[name="total"]').val(item * harga);
  })
</script>
<%- include ./partials/footer %>
