<%- include ./partials/header %>
<div class="container">
  <div class="header text-center mt-4">
    <img src="<%= photoUrl %>" class="product-img-detail" alt="<%= nama %>">
    <div class="product-desc text-center mt-4">
      <h4 class="title"><%= nama %></h4>
      <p class="product-price mb-0">Rp<%= harga %></p>
      <p class="product-price">Stok:   <%= stock %></p>
    </div>
    <form action="/transaction/create" method="POST" class="buy-wrapper flex-wrap text-center">
      <input type="hidden" value="<%= id %>" name="id">
      <input type="hidden" value="<%= harga %>" name="total">
      <input type="number" min="1" max="<%= stock %>" value="1" name="item" class="inputItem">
      <button class="btnBuy">Beli</button>
    </form>
  </div>
</div>
<%- include ./partials/footer %>