<%- include ./partials/header %>
<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="text-bold pr-3 flex-wrap align-center">Buyer:</li>
    <li class="nav-item">
      <a class="nav-link" id="Pesanan" href="/transaction">Pesanan</a>
    </li>
    <% [{ name: 'Pesanan Selesai', link:
    '/transaction/done' }].forEach(el => { %>
      <li class="nav-item">
        <a class="nav-link link-item" data-link="<%= el.link %>" id="<%= el.name %>" href="<%= el.link %>"><%= el.name %></a>
      </li>
    <% }) %>
    <div class="spacer"></div>
    <li class="text-bold pr-3 flex-wrap align-center">Seller:</li>
    <% [{ name: 'Dipesan', link: '/transaction/ordered' }, { name: 'Diproses', link:
        '/transaction/processed' }].forEach(el => { %>
      <li class="nav-item">
        <a class="nav-link link-item" data-link="<%= el.link %>" id="<%= el.name %>" href="<%= el.link %>">
          <%= el.name %></a>
      </li>
    <% }) %>
  </ul>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produk</th>
        <th scope="col">Total</th>
        <th scope="col">Tanggal Beli</th>
        <th scope="col">Tanggal Diproses</th>
        <th scope="col">Keterangan</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((el, idx) => { %>
        <tr>
          <th scope="row"><%= idx+1 %></th>
          <td><%= el.Product.nama %></td>
          <td>Rp <%= el.Product.harga * el.item %></td>
          <td><%= el.createdAt %></td>
          <td><%= el.processed?el.updatedAt:'-' %></td>
          <td><%= el.processed?'SELESAI':'BELUM DIPROSES' %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<script>
  let home = true
  $('.link-item').each((idx, el) => {
    const href = window.location.href
    if (href.includes($(el).attr('data-link'))) {
      home = false
      return $(el).addClass('active')
    }
  })
  if(home) $('#Pesanan').addClass('active')
</script>
<%- include ./partials/footer %>
